[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
dependent-scripts = true


[supervisor-cron]
recipe      = z3c.recipe.usercrontab
times       = @reboot
command     = ${buildout:bin-directory}/supervisord

[openerp]
recipe = anybox.recipe.openerp[bzr]:server
vcs-clear-retry = True
version = git https://github.com/OCA/OCB.git odoo 21eddc05a5cdd1709daf2038498077fa542d9cf2
addons =
         git https://github.com/Comunitea/CMNT_00040_2016_ELN_addons.git odoo_repos/elnogal master
         git https://github.com/Comunitea/external_modules.git odoo_repos/external_modules c8906ab8aa1acceaf44766b1e95c4d923573ac4a
         git https://github.com/Comunitea/alimentacion.git odoo_repos/alimentacion 320ece8e5d76bfca60ed0e53077b8a914132261b
         git https://github.com/OCA/bank-payment.git odoo_repos/bank-payment 96c502fbbd0798493c4969e148e5956e0af72036
         git https://github.com/OCA/l10n-spain.git odoo_repos/l10n-spain 8.0
         git https://github.com/OCA/partner-contact-management.git odoo_repos/partner-contac-management 51d2124f1494de1a8fe3f4ab3f1084b482827567
         git https://github.com/OCA/server-tools.git odoo_repos/server-tools 083a9787f6654431be0baa2f9a23162c66d59c20
         git https://github.com/OCA/account-financial-tools.git odoo_repos/account-financial-tools 16f989163477d02cfa0acd0298486f09d1b5e66a
         git https://github.com/OCA/account-financial-reporting.git odoo_repos/account-financial-reporting b8405fb16c4bc533740d870d909f9e6fce32f5a9
         git https://github.com/OCA/reporting-engine.git odoo_repos/reporting-engine ea9a510f803d9e3f092b3abf9c7cca2f6284f719
         git https://github.com/OCA/web.git odoo_repos/oca-web 2707b8cbcbc3a820077f7e52f246038499eaa03d
         git https://github.com/OCA/purchase-workflow.git odoo_repos/purchase-workflow 6fe0d5bd99f30c6723402c10956e32ae3148c367
         git https://github.com/OCA/bank-statement-import.git odoo_repos/bank-statement-import 09ea7e6e78d52513da3aa4ba9b50fbe5ec159113
         git https://github.com/OCA/account-payment.git odoo_repos/account-payment 1d8a1f3806af3c69037791a08ca8f39b70fe464b
         git https://github.com/OCA/report-print-send.git odoo_repos/print_send def1a29507641cac8027e489aa4930dc354b377d
         git https://github.com/OCA/stock-logistics-workflow.git odoo_repos/stock-logistics-workflow 18969671666fb5c39270bf45ba4c29cb3c94e733
         git https://github.com/OCA/sale-workflow.git odoo_repos/sale-workflow afadae5ded87e72930b0dc942bcb29a73af26d42
         git https://github.com/OCA/rma.git odoo_repos/rma af58fa77b023e5351c09ea600b47f5111e6a894d
         git https://github.com/omar7r/Jasperv8.git odoo_repos/jasper-reports fdf11c3f050c1d94a51b7f18a32698d18b1fc993
         git https://github.com/OCA/department odoo_repos/departament 8b9dcc246161568e9d5985433156a577dcddc244
         git https://github.com/OCA/product-attribute.git odoo_repos/product-attribute c3b8f2bbbf225999cb5be8f084ec6d2f91d32d74
         git https://github.com/OCA/bank-statement-reconcile.git odoo_repos/bank-statement-reconcile 1ccd02a8ae8167fadf340e0aa6a8e27c10677190
         git https://github.com/Comunitea/commission.git odoo_repos/commission multicompany_by_partner
         git https://github.com/OCA/crm.git odoo_repos/crm 02700cc1e6fefc864e17d8c6711ae86f35ede16e
         git https://github.com/OCA/account-analytic.git odoo_repos/account-analytic 77191b892d92b78b6ffeab993238c5728935c088
         bzr lp:new-report-intrastat odoo_repos/intrastat_base 102
         git https://github.com/OCA/connector-telephony.git odoo_repos/connector-telephony 129c6620cc96b544414cad48624eb4ce98dacd54
         git https://github.com/OCA/stock-logistics-warehouse.git odoo_repos/stock-logistics-warehouse f45e778c2e3f6f1a44948030c4b77529e6eb49e1
         git https://github.com/OCA/stock-logistics-reporting.git odoo_repos/stock-logistics-reporting 77bbf86946f5dfcea434b295cfeccf76be432d34
         git https://github.com/OCA/connector.git odoo_repos/connector 1f7c2a84d3c0ead3716a2ea45e0944f831d9ddb4
     local parts/odoo/addons/
merges = git https://github.com/Comunitea/OCB.git parts/odoo 8_0_fix_procurement_multicompany
         git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_asset_dates
         ; MERGED git origin odoo_repos/l10n-spain pull/485/head ; Resumen recargo de equivalencia en mod 340
         ; git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_340_improvements
eggs = unidecode
    ipdb == 0.9.0
    pyPdf
    unicodecsv
    pycups
    twisted
    xlrd
    xlutils
    phonenumbers
    py-Asterisk
    egenix-mx-base
    ofxparse
    openupgradelib
    zeep
    pyopenssl
    requests


options.db_host = ${settings:postgres_host}
options.db_name = ${settings:postgres_db_name}
options.admin_passwd = admin
options.db_user = ${settings:postgres_user}
options.db_password = ${settings:postgres_password}
options.db_maxconn = ${settings:postgres_maxconn}
options.db_port = ${settings:postgres_port}
options.proxy_mode = ${settings:openerp_proxy_mode}
options.xmlrpc_interface = ${settings:openerp_xmlrpc_interface}
options.xmlrpc_port = ${settings:openerp_xmlrpc_port}
options.xmlrpcs_interface = ${settings:openerp_xmlrpcs_interface}
options.xmlrpcs_port = ${settings:openerp_xmlrpcs_port}
options.limit_time_cpu = ${settings:openerp_limit_time_cpu}
options.limit_time_real = ${settings:openerp_limit_time_real}
options.debug_mode = False
options.unaccent = True
options.workers = ${settings:openerp_workers}
options.data_dir = /opt/odoo/8/docsext/gesdoc
options.pg_path = ${buildout:directory}/parts/postgres/bin
options.dbfilter = ${settings:openerp_dbfilter}
options.server_wide_modules = web,web_kanban,connector
options-connector.channels = root:4,root.invoice_validate_sii:2

[env]
recipe = gocept.recipe.env

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor_port}
serverurl = ${settings:supervisor_url}:${supervisor:port}
programs =
    10 odoo ${buildout:directory}/bin/start_openerp

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[odoo-patches]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = cd ${buildout:directory}/parts/odoo; git am --signoff < ${buildout:directory}/patches/stock_valuation_history.patch

[initdb]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    echo ""
    echo "To start PosrgreSQL and Supervisord run:"
    echo "$ supervisord"
    echo ""
    echo "To create the database run:"
    echo "$ psql -d postgres -U odoo -c 'CREATE DATABASE ${openerp:options.db_name}'"
    echo ""
    echo "To shutdown Supervisord with all deamons:"
    echo "$ supervisorctl shutdown run:"
    echo ""
    echo "To Restart Postgres run:"
    echo "$ supervisorctl restart postgres"
    echo ""
    echo "To start OpenERP run:"
    echo "$ start_openerp"
    echo ""
    echo "Creating db"
