[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
dependent-scripts = true


[supervisor-cron]
recipe      = z3c.recipe.usercrontab
times       = @reboot
command     = ${buildout:bin-directory}/supervisord

[openerp]
recipe = anybox.recipe.openerp[bzr]:server
vcs-clear-retry = True
version = git https://github.com/OCA/OCB.git odoo b454847cd7ef56d1e66bd0eff17d9d1a7cdd6dd8
addons =
         git https://github.com/Comunitea/CMNT_00040_2016_ELN_addons.git odoo_repos/elnogal master
         git https://github.com/Comunitea/external_modules.git odoo_repos/external_modules c8906ab8aa1acceaf44766b1e95c4d923573ac4a
         git https://github.com/Comunitea/alimentacion.git odoo_repos/alimentacion 320ece8e5d76bfca60ed0e53077b8a914132261b
         git https://github.com/OCA/bank-payment.git odoo_repos/bank-payment 3c96fedbb95060c9cd3a2aa87d383324d486bee1
         git https://github.com/OCA/l10n-spain.git odoo_repos/l10n-spain 8.0
         git https://github.com/OCA/partner-contact-management.git odoo_repos/partner-contac-management d762f17a987ce3e79298c84568b6bbd29b4adc42
         git https://github.com/OCA/server-tools.git odoo_repos/server-tools 641be8cc22d997b1c9cd351bca511fa3a2d11a8b
         git https://github.com/OCA/account-financial-tools.git odoo_repos/account-financial-tools 53cf7cc45e0278f5c3dc96f4a89e2f3a3501392b
         git https://github.com/OCA/account-financial-reporting.git odoo_repos/account-financial-reporting a80af4f474bed658478d53cf804fc34f7c998ccf
         git https://github.com/OCA/reporting-engine.git odoo_repos/reporting-engine ea9a510f803d9e3f092b3abf9c7cca2f6284f719
         git https://github.com/OCA/web.git odoo_repos/oca-web 6ea58390d581814a54ae18632c11806d3eae5ef6
         git https://github.com/OCA/purchase-workflow.git odoo_repos/purchase-workflow 346c8e49541f50254e280e5d1b3545bce39440ec
         git https://github.com/OCA/bank-statement-import.git odoo_repos/bank-statement-import 832a6115900088a880555606813bd8049c1b1214
         git https://github.com/OCA/account-payment.git odoo_repos/account-payment 57d2c6499f214488ed62ff612d3ab4c78898b3ce
         git https://github.com/OCA/report-print-send.git odoo_repos/print_send def1a29507641cac8027e489aa4930dc354b377d
         git https://github.com/OCA/stock-logistics-workflow.git odoo_repos/stock-logistics-workflow 46e4b333769106b2306dcf0e79fa71e9bdbddb2c
         git https://github.com/OCA/sale-workflow.git odoo_repos/sale-workflow c63869f0e76060b38dc39e5339f9a33fd00d46ec
         git https://github.com/OCA/rma.git odoo_repos/rma ab7f37545881df90aa99d762f70a590967eb25ef
         git https://github.com/omar7r/Jasperv8.git odoo_repos/jasper-reports fdf11c3f050c1d94a51b7f18a32698d18b1fc993
         git https://github.com/OCA/department odoo_repos/departament 81fcb3784e64535603858de90e840807e72ae55b
         git https://github.com/OCA/product-attribute.git odoo_repos/product-attribute 0675ffe9e240bd6dff099a830ee33a56874c1e3a
         git https://github.com/OCA/bank-statement-reconcile.git odoo_repos/bank-statement-reconcile 499608d1f27eb0d46dddc17c3a361b8b837b5b6c
         git https://github.com/Comunitea/commission.git odoo_repos/commission multicompany_by_partner
         git https://github.com/OCA/crm.git odoo_repos/crm 1589c52df8e64ae0ba559f29755d10d7aa711145
         git https://github.com/OCA/account-analytic.git odoo_repos/account-analytic 90dcbc2d948e04c5fd182dbcf52ef932d7bab140
         bzr lp:new-report-intrastat odoo_repos/intrastat_base 102
         git https://github.com/OCA/connector-telephony.git odoo_repos/connector-telephony 7cb4070fa21a2ce5b486f7cf911df9dbaef0ccf6
         git https://github.com/OCA/stock-logistics-warehouse.git odoo_repos/stock-logistics-warehouse e58e3d2bbfbd6f15683c58beec5bf6cab0529192
         git https://github.com/OCA/stock-logistics-reporting.git odoo_repos/stock-logistics-reporting 77bbf86946f5dfcea434b295cfeccf76be432d34
         git https://github.com/OCA/connector.git odoo_repos/connector e41e60cdf901d2987ee3ba6a5b7a4cb3d414d931
         git https://github.com/OCA/manufacture.git odoo_repos/manufacture 48fdbc6a96b07a1aeea7ca9786703f1d5464bef1
     local parts/odoo/addons/
merges = git https://github.com/Comunitea/OCB.git parts/odoo 8_0_fix_procurement_multicompany
         git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_asset_dates
         ; MERGED git origin odoo_repos/l10n-spain pull/485/head ; Resumen recargo de equivalencia en mod 340
         ; git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_340_improvements
eggs = unidecode
    ipdb == 0.9.0
    pyPdf
    unicodecsv
    pycups
    twisted
    xlrd
    xlutils
    phonenumbers
    py-Asterisk
    egenix-mx-base
    ofxparse
    openupgradelib
    zeep
    pyopenssl
    requests


options.db_host = ${settings:postgres_host}
options.db_name = ${settings:postgres_db_name}
options.admin_passwd = admin
options.db_user = ${settings:postgres_user}
options.db_password = ${settings:postgres_password}
options.db_maxconn = ${settings:postgres_maxconn}
options.db_port = ${settings:postgres_port}
options.proxy_mode = ${settings:openerp_proxy_mode}
options.xmlrpc_interface = ${settings:openerp_xmlrpc_interface}
options.xmlrpc_port = ${settings:openerp_xmlrpc_port}
options.xmlrpcs_interface = ${settings:openerp_xmlrpcs_interface}
options.xmlrpcs_port = ${settings:openerp_xmlrpcs_port}
options.limit_memory_hard = ${settings:openerp_limit_memory_hard}
options.limit_memory_soft = ${settings:openerp_limit_memory_soft}
options.limit_time_cpu = ${settings:openerp_limit_time_cpu}
options.limit_time_real = ${settings:openerp_limit_time_real}
options.debug_mode = False
options.unaccent = True
options.workers = ${settings:openerp_workers}
options.data_dir = /opt/odoo/8/docsext/gesdoc
options.pg_path = ${buildout:directory}/parts/postgres/bin
options.dbfilter = ${settings:openerp_dbfilter}
options.server_wide_modules = web,web_kanban,connector
options-connector.channels = root:4,root.invoice_validate_sii:2

[env]
recipe = gocept.recipe.env

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor_port}
serverurl = ${settings:supervisor_url}:${supervisor:port}
programs =
    10 odoo ${buildout:directory}/bin/start_openerp

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[odoo-patches]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = cd ${buildout:directory}/parts/odoo; git am --signoff < ${buildout:directory}/patches/stock_valuation_history.patch

[initdb]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    echo ""
    echo "To start PosrgreSQL and Supervisord run:"
    echo "$ supervisord"
    echo ""
    echo "To create the database run:"
    echo "$ psql -d postgres -U odoo -c 'CREATE DATABASE ${openerp:options.db_name}'"
    echo ""
    echo "To shutdown Supervisord with all deamons:"
    echo "$ supervisorctl shutdown run:"
    echo ""
    echo "To Restart Postgres run:"
    echo "$ supervisorctl restart postgres"
    echo ""
    echo "To start OpenERP run:"
    echo "$ start_openerp"
    echo ""
    echo "Creating db"
